---
title: New Title 1
links:
  - "[[apologetics2/hey/hey2/+page.svx|+page]]"
tags:
  - svx
  - new
---


# About This Project

This is a **Markdown-based** page written in an `.svx` file.
- Learn about the project’s goals.
- Explore related page s via the links below.
 
> Okay I need to do this  
We need to write in html and markdown live
## Why Markdown?

Markdown is simple and allows rapid content creation.

<span style="background: red;">This is a test </span>